label {
    display: block;
    margin: 5px ;
}

    table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 5px ;
}
    td,
    th {
    padding: 5px;
    border-bottom: 1px solid #aaa;
    margin: 5px ;
} 
